#grid {
	line-height: 0;
	border-spacing: 0;
	margin: 0 auto;
}

.minefield td {
	padding: 0;
}

img {
	margin:0;
	padding: 0;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#btnDiv {
	text-align: center;
	margin-top: 20px;
}

button {
	width: 150px;
	height: 50px;
	font-size: 24px;
	margin-bottom: 10px;
}

#flag-toggle {
	height: 50px;
	width: 50px;
}

.custom {
  cursor: url(images/flag-mine.png), auto;
}

#toggle-div {
	text-align: center;
	margin-top: 15px;
}